/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ui "com.ailk.toptea.compents.*";
@namespace components "com.ailk.toptea.components.*";
@namespace widgets "com.ailk.toptea.components.widgets.*";

mx|ToolTip {
	fontSize: 12px;
	color: #333333;
	font-family: "新宋体,宋体";
}


components|RoundCornerPanel {
	skinClass: ClassReference("com.ailk.toptea.skins.RoundCornerPanelSkin");
}


widgets|SparkLinkButton{
	skinClass: ClassReference("com.ailk.toptea.skins.GlowButtonSkin");
}

components|RoundCornerPanel.tab {
	skinClass: ClassReference("com.ailk.toptea.components.RoundCornerTabPanelSkin");
}

components|TabButton {
	skinClass: ClassReference("com.ailk.toptea.components.TabButtonSkin");
}

components|ImageLink {
	skinClass: ClassReference("com.ailk.toptea.components.ImageLinkSkin");
}


.TableRowGray {
	background-color:#CCCCCC;
}


.ToolBarPanelTitle {
	color: #666D7C;
	text-align: center;
}

.ToolBarPanel {
	skinClass: ClassReference("com.ailk.toptea.skin.ToolBarPanelSkin");
}

.ToolBar {
	skinClass: ClassReference("com.ailk.toptea.skin.ToolBarSkin");
}

.LabelTitle {
	color: #000000;
	text-align: left;
	vertical-align: middle;
	background-color: #EDEEF0;
	padding-left: 8px;
	font-size: 14pt;
}

.LabelTitle1 {
	color: #000000;
	text-align: left;
	vertical-align: middle;
	padding-left: 8px;
	font-size: 14pt;
	font-weight:bold
}


s|FormItem s|Label#labelDisplay{
}


global
{
	font-family: "微软雅黑,新宋体,宋体";
	font-size:12px;
	modalTransparencyBlur: 0;   
	modalTransparency: 0.8;   
	modalTransparencyColor: #CCCCCC;   
	modalTransparencyDuration: 300;
}

/* 表格 */
s|DataGrid {
	skinClass: ClassReference("com.ailk.toptea.skins.DataGridSkin");
	borderColor: #B5B8C8;
	focusSkin: null;
}

/* 滚动条 */
s|Scroller {
	skinClass: ClassReference("com.ailk.toptea.skins.Scroller_skin");
}

s|VScrollBar {
	skinClass: ClassReference("com.ailk.toptea.skins.ScrollBar_V_skin");
}

s|HScrollBar {
	skinClass: ClassReference("com.ailk.toptea.skins.ScrollBar_H_skin");
}


/* 文本框 */
s|TextInput {
	skinClass: ClassReference("com.ailk.toptea.skins.TextInputSkin");
	focusSkin:ClassReference("com.ailk.toptea.skins.FocusSkin");
	borderColor: #B5B8C8;
	focusColor: #7EADD9;
}

s|TextArea {
	skinClass: ClassReference("com.ailk.toptea.skins.TextAreaSkin");
	focusSkin:ClassReference("com.ailk.toptea.skins.FocusSkin");
	borderColor: #B5B8C8;
	focusColor: #7EADD9;
}

/* 下拉框 */
s|ComboBox {
	borderColor: #B5B8C8;
	skinClass: ClassReference("com.ailk.toptea.skins.ComboBoxSkin");
	focusSkin: ClassReference("com.ailk.toptea.skins.FocusSkin");
	dropShadowVisible: true;
}

s|DropDownList {
	borderColor: #B5B8C8;
	skinClass: ClassReference("com.ailk.toptea.skins.DropDownListSkin");
	focusSkin: ClassReference("com.ailk.toptea.skins.FocusSkin");
	dropShadowVisible: true;
}

/* 按钮 */
s|Button {
	skinClass: ClassReference("com.ailk.toptea.skins.ButtonSkin");
}
s|Button.emphasized {
	skinClass: ClassReference("com.ailk.toptea.skins.DefaultButtonSkin");
}
mx|Button
{
	skin: ClassReference("com.ailk.toptea.skins.ButtonSkin");
	emphasizedSkin: ClassReference("com.ailk.toptea.skins.ButtonSkin");
}

components|GlowButton {
	skinClass: ClassReference("com.ailk.toptea.skins.GlowButtonSkin");
}

/* 提示框 */
.PetAlert {
	borderSkin: ClassReference("com.ailk.toptea.skins.BalloonBorder");
	background-color: #FFFFFF;
	title-style-name: petAlertTitle;
	color: #000000;
}

.petAlertTitle {
	color: #000000;
	font-weight: bold;
}


