/* 解决TextArea100%时宽度过长换行问题 */
Ext.override(Ext.form.Field, {
    adjustWidth : function(tag, w){
        tag = tag.toLowerCase();
        if(typeof w == 'number' && !Ext.isSafari){
            if(Ext.isIE && (tag == 'input' || tag == 'textarea')){
                if(!Ext.isStrict){
                    return this.inEditor ? w : w - 3;
                }
                if(tag == 'input' && Ext.isStrict){
                    return w - (Ext.isIE6 ? 4 : 1);
                }
                if(tag == 'textarea' && Ext.isStrict){
                    return w-4;
                }
            }else if(Ext.isOpera && Ext.isStrict){
                if(tag == 'input'){
                    return w + 2;
                }
                if(tag == 'textarea'){
                    return w-2;
                }
            }
        }
        return w;
    }
});

/* 生成Ext对象 */
#set($i = 0)
#foreach ($fieldInfo in $fieldList)
	##if (!$fieldInfo.getType().equals("com.hp.idc.itsm.configure.fields.FileFieldInfo"))
		#if ($fieldInfo.getType().equals("com.hp.idc.itsm.configure.fields.PersonFieldInfo"))
			#if(!$origin.equals("ITSM"))
				$fieldInfo.setOrigin($origin)
			#end
		#end
		#if ($fieldInfo.getId().equals($FLD_EXECUTE_USER))
			#if($fromNode && ($fromNode.getType() == $TYPE_BRANCH_BEGIN) && $actionInfo.isMutiAssign())
				$fieldInfo.setSingleMode(false)
			#else
				$fieldInfo.setSingleMode(true)
			#end
		#end

		#if (!$fieldInfo.getType().equals("com.hp.idc.itsm.configure.fields.GridFieldInfo"))
			$fieldInfo.getFormCode(150)
			fld_${fieldInfo.getId()}.anchor = '98%';
			#if($fieldInfo.isReadOnly()) 
				fld_${fieldInfo.getId()}.style = 'border-top:1px solid #99BBE8;border-left:1px solid #99BBE8;border-bottom:1px solid #99BBE8;border-right:1px solid #99BBE8;';
			#else
				fld_${fieldInfo.getId()}.style = 'border-top:1px outset #99BBE8;border-left:1px ridge #99BBE8;border-bottom:1px solid #99BBE8;border-right:1px solid #99BBE8;';
			#end
		#else
			$fieldInfo.getFormCode(false,120)
		#end

#end

fld_complaintFrom.setReadOnly(true);
fld_complaintDate.setReadOnly(true);
fld_complaintObject.setReadOnly(true);
fld_complaitContent.setReadOnly(true);
fld_execute_user.params.filter = "/yunweirenyuan";

fld_complaintType.on("select",function(obj,r,i){
	if(i == "1") {
	 	window.parent.task_info_center.setActiveTab("act_node3");
	 	window.location.reload();
	}
});
fld_complaintType.setValue("business");

/**************************Do some control****************************************************************************/
/* 生成布局对象 */
var column01Sub01 = new Ext.Panel({
	columnWidth : .5,
	layout : 'form',
	border : false,
	bodyStyle : 'padding: 0 30 0 0',
	items : [fld_complaintFrom, fld_complaintDate] 
});

var column01Sub02 = new Ext.Panel({
	columnWidth : .5,
	layout : 'form',
	border : false,
	bodyStyle : 'padding: 0 0 0 30',
	items : [fld_complaintObject]
});

var column01 = new Ext.Panel({
	layout : 'column',
	border : false,
	anchor : '100%',
	items : [column01Sub01, column01Sub02]
});

var fieldset01 = new Ext.form.FieldSet({
	collapsible: true,
	autoHeight: true,
	title: '投诉信息',
	anchor:'98%',
	collapsed: false,
	bodyStyle : 'padding: 0 6 0 6',
	items :[column01,fld_complaitContent]
});

var fieldset02 = new Ext.form.FieldSet({
	collapsible: true,
	autoHeight: true,
	title: '投诉分类与审核',
	anchor:'98%',
	collapsed: false,
	bodyStyle : 'padding: 0 6 0 6',
	items :[fld_complaintType, fld_checkIdea]
});

var fieldset04 = new Ext.form.FieldSet({
	collapsible: true,
	autoHeight: true,
	title: '工单流转',
	anchor:'98%',
	collapsed: false,
	bodyStyle : 'padding: 0 6 0 6',
	items :[fld_execute_user]
});

simple.add(fieldset01, fieldset02, fieldset04);

